<!DOCTYPE html>
<html lang="en">
        <head>
                <title></title>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
                <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
        </head>
        <body>
            <!-- Error message section -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="container">
                    <div class=flashes>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endwith %}
            <!-- End error message section -->
            <div class="wrapper">
                <h1>Edit Recipe!</h1>
                <!-- Nav -->
                <div class="nav">
                    <a class="btn btn-dash btn-warning" href="/dashboard">back to recipes</a>
                    <a class="btn btn-dash btn-warning" href="/logout">Logout</a>
                </div>
                <form action="/recipe/update" method="POST">
                    <input type="hidden" name="id" value="{{ one_recipe.id }}">
                <div class="main">
                    <!-- Left container -->
                    <div class="container left">
                        <label for="name">Name</label>
                        <input type="text" name="name" value="{{ one_recipe.name }}" >
                        <label for="description">description</label>
                        <input type="text" name="description" value="{{ one_recipe.description }}" >
                        <label for="instructions">instructions</label>
                        <input type="text" name="instructions" value="{{ one_recipe.instructions }}" >
                    </div>
                    <!-- Right container -->
                    <div class="container right">
                        <label for="date_made">Date Cooked/Made</label>
                        <input type="datetime-local" name="date_made" value="{{ one_recipe.date_made }}">
                        <label for="under_30">Under 30 minutes?</label>
                        {% if one_recipe.under_30 == 0 %}
                        <input type="radio" name="under_30" value="0" checked>No</input>
                        <input type="radio" name="under_30" value="1">Yes</input>
                        {% else %}
                        <input type="radio" name="under_30" value="0">No</input>
                        <input type="radio" name="under_30" value="1" checked>Yes</input>
                        {% endif %}
                    </div>
                </div>
                    <button type="submit">submit</button>
                </form>
            </div>
        
        </body>
</html>
